.parent {
  width: 100%;
  height: 200px;
  background-color: red;
}
.child {
  height: 50%;
  background-color: gray;
}

.nested-grid div {
  background-color: gray;
}

.test {
  background-color: red;
  width: 100px;
}
